<div class="collection-list-template main__section" data-section-id="{{ section.id }}" data-section-type="collection-list-section">
  <div class="row">
    <div id="collection-page">
      <div class="collection-description desktop-12 tablet-6 mobile-3">
        <h1>{{ 'collections.general.all_collections' | t }}</h1>
        {% if section.settings.text != blank %}
      	   <div class="rte">
             {{ section.settings.text }}
           </div><!-- /.rte -->
        {% endif %}
      </div><!-- /.collection-description -->
    </div><!-- /#collection-page -->
  </div><!-- /.row -->
</div><!-- /.collection-list-template -->
{% schema %}
{
  "name": "Collection list header",
  "settings":
  [
    {
      "id": "text",
      "type": "richtext",
      "label": "Text",
      "default": "<p>Add some descriptive text to your all collections page.</p>"
    }
  ]
}
{% endschema %}
